@charset "UTF-8";
/***
    The new CSS reset - version 1.8.4 (last updated 14.2.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/
/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  -moz-appearance: revert;
       appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::-moz-placeholder {
  color: unset;
}
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable=false])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable=true]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

@font-face {
  font-family: "Montserrat";
  src: url(fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: "Roboto";
  src: url(fonts/Roboto/Roboto-Light.ttf);
}
.window {
  width: 1440px;
  height: 100%;
  margin: 0 auto;
}

.header {
  width: 100%;
  height: 700px;
  background: url(styles/images/Background-min.png);
  text-align: center;
  color: white;
  padding: 40px 248px 224px 248px;
}
.header__top {
  height: 36px;
  margin: 0 auto 150px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header__top__logo {
  display: flex;
  align-items: center;
}
.header__top__logo__text {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
}
.header__top__users {
  display: flex;
}
.header__top__users__log {
  width: 90px;
  border-radius: 40px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
}
.header__top__users__log:hover {
  border: 2px solid #FFFFFF;
}
.header__top__users__sign {
  width: 90px;
  border-radius: 40px;
  font-weight: 400;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  margin-right: 48px;
}
.header__top__users__sign:hover {
  border: 2px solid #FFFFFF;
}
.header__text {
  font-size: 52px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  line-height: 63px;
  letter-spacing: 3px;
}
.header__info {
  font-size: 24px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  margin: 24px auto 33px auto;
}
.header__button {
  width: 225px;
  height: 40px;
  background: #FF4E50;
  border-radius: 40px;
  font-weight: 700;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
}

.main, .footer {
  width: 940px;
  margin: 0 auto;
}

.news {
  width: 100%;
}
.news__title {
  text-align: center;
  margin-top: 89px;
  margin-bottom: 35px;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  font-family: "Montserrat", sans-serif;
  color: #444444;
  letter-spacing: 1.5px;
}
.news__content {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #FFFFFF;
}
.news__content__one {
  width: 300px;
  background-image: url(styles/images/Step\ 1\ image-min.png);
  padding: 21px 24px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.news__content__one__step {
  width: 70px;
  height: 20px;
  border-radius: 40px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news__content__one__step__text {
  font-weight: 400;
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 3px;
}
.news__content__one__name {
  font-weight: 700;
  font-size: 24px;
  font-family: "Montserrat", sans-serif;
  line-height: 26px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.news__content__one__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
  font-family: "Roboto", sans-serif;
  color: #E3E3E3;
}
.news__content__two {
  width: 300px;
  background-image: url(styles/images/Step\ 2\ image-min.png);
  padding: 21px 22px;
  padding-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.news__content__three {
  width: 300px;
  background-image: url(styles/images/Step\ 3\ image-min.png);
  padding: 21px 22px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.meet {
  width: 100%;
}
.meet__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  margin-top: 89px;
  margin-bottom: 35px;
  font-family: "Montserrat", sans-serif;
  color: #444444;
  letter-spacing: 2px;
}
.meet__content {
  display: flex;
  justify-content: space-around;
}
.meet__content__photo {
  width: 25%;
  text-align: center;
}
.meet__content__photo__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-top: 16px;
  margin-bottom: 19px;
  font-family: "Montserrat", sans-serif;
  color: #444444;
}
.meet__content__photo__about {
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #666666;
  font-family: "Roboto", sans-serif;
  padding-right: 15px;
}
.meet__button {
  width: 180px;
  height: 40px;
  border: 2px solid #FF4E50;
  border-radius: 40px;
  margin: 38px auto auto auto;
  color: #FF4E50;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discover {
  width: 100%;
}
.discover__title {
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  margin-top: 87px;
  margin-bottom: 35px;
  font-family: "Montserrat", sans-serif;
  color: #444444;
  letter-spacing: 2px;
}
.discover__content {
  width: 100%;
  height: 970px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
}
.discover__content__one, .discover__content__two, .discover__content__three, .discover__content__four, .discover__content__five, .discover__content__six, .discover__content__seven {
  width: 300px;
  height: 310px;
  font-family: "Montserrat", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  letter-spacing: 1px;
}
.discover__content__one__text, .discover__content__two__text, .discover__content__three__text, .discover__content__four__text, .discover__content__five__text, .discover__content__six__text, .discover__content__seven__text {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #FFFFFF;
}
.discover__content__one {
  background-image: url(styles/images/Sport-min.png);
}
.discover__content__two {
  background-image: url(styles/images/Healath-min.png);
}
.discover__content__three {
  background-image: url(styles/images/Extreme-min.png);
  text-align: center;
}
.discover__content__four {
  background-image: url(styles/images/Games-min.png);
}
.discover__content__five {
  width: 620px;
  background-image: url(styles/images/Culture-min.png);
}
.discover__content__six {
  width: 620px;
  background-image: url(styles/images/Culture\ Copy-min.png);
}
.discover__content__seven {
  background-image: url(styles/images/Games\ Copy-min.png);
}

.crate {
  width: 100%;
}
.crate__title {
  text-align: center;
  margin-top: 89px;
  margin-bottom: 53px;
  font-weight: 700;
  font-size: 26px;
  line-height: 32px;
  font-family: "Montserrat", sans-serif;
  color: #444444;
  letter-spacing: 2px;
}
.crate__content {
  text-align: center;
  margin-bottom: 25px;
  font-weight: 300;
  font-size: 18px;
  line-height: 14px;
  color: #666666;
  font-family: "Roboto", sans-serif;
}
.crate__field {
  width: 482px;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.crate__field__input {
  width: 299px;
  height: 40px;
  background: #FFFFFF;
  border: 1px solid #D4D4D4;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.073313);
  border-radius: 3px;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  color: #999999;
  font-family: "Roboto", sans-serif;
  padding-left: 14px;
}
.crate__field__button {
  width: 172px;
  height: 40px;
  background: #FF4E50;
  border-radius: 40px;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #FF4E50;
  margin-top: 100px;
  margin-bottom: 39px;
}

.footer {
  display: flex;
  flex-direction: row;
}
.footer__name, .footer__company, .footer__partners, .footer__dev {
  width: 25%;
}
.footer__name {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #FF4E50;
  font-family: "Montserrat", sans-serif;
}
.footer__company__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 11px;
  font-family: "Montserrat", sans-serif;
  color: #444444;
}
.footer li {
  font-weight: 300;
  font-size: 14px;
  line-height: 26px;
  color: #999999;
  font-family: "Roboto", sans-serif;
}
.footer__partners__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  font-family: "Montserrat", sans-serif;
  color: #444444;
}
.footer__dev {
  text-align: right;
}
.footer__dev__text {
  font-weight: 700;
  font-size: 10px;
  line-height: 12px;
  color: #CCCCCC;
  margin-bottom: 7px;
  font-family: "Montserrat", sans-serif;
}

@media screen and (max-width: 1439px) and (min-width: 767px) {
  .window {
    width: 768px;
    height: 100%;
    margin: 0 auto;
  }
  .header {
    width: 768px;
    background-position: center;
    padding: 46px 48px 224px 48px;
  }
  .header__info {
    margin: 24px auto 33px auto;
  }
  .main {
    width: 748px;
    margin: 0 auto;
  }
  .news {
    width: 100%;
  }
  .news__title {
    margin-top: 92px;
    margin-bottom: 35px;
    font-size: 22px;
  }
  .news__content {
    width: 100%;
  }
  .news__content__one {
    width: 236px;
    padding: 21px 24px;
  }
  .news__content__one__name {
    line-height: 16px;
    margin-top: 44px;
    margin-bottom: 25px;
  }
  .news__content__two {
    width: 236px;
    padding: 21px 22px;
    padding-right: 22px;
  }
  .news__content__three {
    width: 236px;
    padding: 21px 22px;
  }
  .media__two {
    margin-right: 50px;
    margin-top: 5px;
  }
  .meet {
    width: 100%;
  }
  .meet__title {
    font-size: 22px;
    margin-top: 89px;
    margin-bottom: 35px;
    letter-spacing: 0px;
  }
  .meet__content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 492px;
    margin: 0 auto;
  }
  .meet__content__photo {
    width: 50%;
    text-align: center;
  }
  .meet__button {
    margin: 38px auto auto auto;
  }
  .order1 {
    order: 1;
  }
  .order2 {
    order: 3;
    margin-top: 32px;
  }
  .order3 {
    order: 2;
  }
  .order4 {
    order: 4;
    margin-top: 34px;
  }
  .discover {
    width: 100%;
  }
  .discover__title {
    font-size: 22px;
    letter-spacing: 0px;
  }
  .discover__content {
    width: 748px;
    height: 970px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    margin: 0 auto;
  }
  .discover__content__one, .discover__content__two, .discover__content__three, .discover__content__four, .discover__content__five, .discover__content__six, .discover__content__seven {
    width: 236px;
    height: 310px;
    background-position: center;
  }
  .discover__content__one__text, .discover__content__two__text, .discover__content__three__text, .discover__content__four__text, .discover__content__five__text, .discover__content__six__text, .discover__content__seven__text {
    padding: 0 20px;
    text-align: center;
  }
  .discover__content__five {
    width: 492px;
  }
  .discover__content__six {
    width: 492px;
    background-position: left;
  }
  .discover__content__seven {
    background-position: left;
  }
  .crate {
    width: 100%;
  }
  .crate__title {
    text-align: center;
    margin-top: 89px;
    margin-bottom: 53px;
    font-size: 22px;
    letter-spacing: 0px;
  }
  .crate__content {
    text-align: center;
    margin-bottom: 25px;
    font-weight: 300;
    font-size: 18px;
    line-height: 14px;
    color: #666666;
    font-family: "Roboto", sans-serif;
  }
  .crate__field {
    width: 482px;
    height: 100%;
    margin: 0 auto;
    display: flex;
  }
  .line {
    width: 100%;
    height: 2px;
    background-color: #FF4E50;
    margin-top: 100px;
    margin-bottom: 39px;
  }
  .footer {
    display: flex;
    flex-direction: row;
    width: 768px;
    margin: 0 auto;
    padding: 0 37px 20px 38px;
  }
  .footer__company {
    margin-left: 86px;
    margin-right: 22px;
  }
}
@media screen and (max-width: 767px) {
  .window {
    width: 320px;
    height: 100%;
    margin: 0 auto;
  }
  .header {
    width: 320px;
    margin: 0;
    height: 540px;
    padding: 0;
    padding-top: 31px;
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  .header__top {
    height: 146px;
    margin: 0 auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
  }
  .header__top__logo {
    display: flex;
    align-items: center;
  }
  .header__top__logo__text {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 1px;
  }
  .header__top__users {
    display: flex;
  }
  .header__text {
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 1px;
    margin-top: 26px;
  }
  .header__info {
    margin: 10px auto 22px auto;
    padding: 0 20px;
    font-size: 18px;
  }
  .header__button {
    width: 280px;
    height: 40px;
    background: #FF4E50;
    border-radius: 40px;
    font-weight: 700;
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 1px;
  }
  .main, .footer {
    width: 300px;
    margin: 0 auto;
  }
  .news {
    width: 100%;
  }
  .news__title {
    margin-top: 34px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 1.5px;
  }
  .news__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .news__content__one {
    width: 300px;
    height: 240px;
    padding: 64px 30px 16px 20px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
  }
  .news__content__one__step__text {
    font-weight: 400;
    font-size: 10px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 3px;
  }
  .news__content__one__name {
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 15px;
  }
  .news__content__one__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
  }
  .news__content__two {
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 240px;
    padding: 21px 22px;
    padding-right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    background-size: cover;
    background-position: center;
  }
  .news__content__three {
    width: 300px;
    height: 240px;
    padding: 21px 22px;
    display: flex;
    flex-direction: column;
    background-size: cover;
    background-position: center;
    padding: 64px 30px 16px 20px;
  }
  .media_tree {
    margin-top: 45px;
    margin-bottom: 23px;
  }
  .meet {
    width: 100%;
  }
  .meet__title {
    margin-top: 34px;
    margin-bottom: 14px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 1.5px;
  }
  .meet__content {
    width: 100%;
    height: 868px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
  }
  .meet__content__photo {
    width: 100%;
    text-align: center;
    margin-bottom: 17px;
  }
  .meet__content__photo__about {
    font-weight: 300;
    font-size: 14px;
    line-height: 14px;
    color: #666666;
    font-family: "Roboto", sans-serif;
    padding-right: 32px;
    padding-left: 32px;
  }
  .meet__button {
    width: 280px;
    height: 40px;
    border: 2px solid #FF4E50;
    border-radius: 40px;
    margin: 56px auto auto auto;
    color: #FF4E50;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .order1 {
    order: 1;
  }
  .order2 {
    order: 3;
  }
  .order3 {
    order: 2;
    margin-bottom: 5px;
  }
  .order4 {
    order: 4;
  }
  .discover {
    width: 100%;
  }
  .discover__title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 35px;
    margin-bottom: 33px;
    font-family: "Montserrat", sans-serif;
    color: #444444;
    letter-spacing: 1px;
    padding: 0 10px;
  }
  .discover__content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
  }
  .discover__content__one, .discover__content__two, .discover__content__three, .discover__content__four, .discover__content__five, .discover__content__six, .discover__content__seven {
    width: 300px;
    height: 120px;
    margin-bottom: 10px;
    background-size: cover;
    background-position: center;
  }
  .discover__content__one__text, .discover__content__two__text, .discover__content__three__text, .discover__content__four__text, .discover__content__five__text, .discover__content__six__text, .discover__content__seven__text {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    width: 206px;
    text-align: center;
  }
  .media_four {
    width: 100%;
  }
  .crate {
    width: 100%;
  }
  .crate__title {
    margin-top: 28px;
    margin-bottom: 15px;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 1.5px;
  }
  .crate__content {
    margin-bottom: 20px;
  }
  .crate__field {
    width: 280px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .crate__field__input {
    width: 280px;
    height: 40px;
    padding-left: 14px;
    margin-bottom: 10px;
  }
  .crate__field__button {
    width: 280px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .line {
    width: 100%;
    height: 2px;
    background-color: #FF4E50;
    margin-top: 37px;
    margin-bottom: 19px;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .footer__name, .footer__company, .footer__partners, .footer__dev {
    width: 100%;
    text-align: center;
  }
  .footer__name {
    margin-bottom: 13px;
  }
  .footer__company {
    height: 70px;
    margin-bottom: 6px;
  }
  .footer__company__text {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    margin-bottom: 0;
    font-family: "Montserrat", sans-serif;
    color: #444444;
  }
  .footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer li {
    margin-right: 15px;
  }
  .footer__dev {
    text-align: center;
    margin-top: 14px;
  }
}/*# sourceMappingURL=main.css.map */